          <h1>Great job tanking your fish!</h1>
          <ul id="selected_fishes">
          <!--
            <% @species.each do |s| %>
              <li id="fish_<%= s.id.to_s%>">
                <%= image_tag(s.photo.url('thumb'), :class => 'vtip', :title => s.common_name,  :width => '150px', :height => '113px', :onClick => 'moreInfo("#fish_'+ s.id.to_s+'")') %>
                <div style="display:none">
                  <div class="name"><%= s.common_name %></div>
                  <div class="description"><%= simple_format(s.description) %></div>
                  <div class="image"><%= image_tag(s.photo.url('medium', :width => "400px")) %></div>
                  <div class="min_group_size"><%= s.min_group_size %></div>
                </div>
              </li>
            <% end %>
          -->
          
          </ul>
          <div id="tank_properties">
            <h1>My fishtank</h1>
            <ul>
              <li class="volume">Volume: <span class="value">90L</span></li>
              <li>Bioload: ~~~>  </li>
              <li class="temperature">Temp: <span class="value"></span></li>
              <li class="pH_dH"><span class="value"></span></li>
            </ul>
            <div class="text">
              Your selected fish are compatible for your tank.<br><br>
              Your selected fish are not compatible.
            </div>
          </div>
          <div class="button back" onclick="prevStep('step2')">
           &laquo; Back
          </div>