<!DOCTYPE html>
<html>
<head>
  <title>Fish</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div>
  <%= flash[:notice] %>
  <%= flash[:alert] %>
</div>
<div>
  <%= link_to 'Fish2Tank.com', '/' %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
</div>

<%= yield %>

</body>
</html>